@charset "utf-8";
html { -webkit-text-size-adjust: 100%; }
body{ font-family:"Microsoft Yahei",Arial,Helvetica,sans-serif,"宋体";font-size:12px;color:#dfd9c2; margin:0; padding:0; background: #000; outline:none; cursor:default;-webkit-user-select:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span{margin:0; padding:0;}
input {font-family:"Microsoft Yahei",Arial,Helvetica,sans-serif,"宋体"; color:#dfd9c2; cursor:default}
canvas,input,button,select,textarea{outline:none;}

canvas{position: absolute; left: 0; top: 0;}
#oriLock{position: absolute; left: 0; top: 0; bottom: 0; right: 0; background-color: #000000; color: #ffffff; font-size: 20px; padding-top: 20px; display: none;}